body {
    display: flex;
    flex-direction: column;

}

.container {
    max-width: 800px;
    margin-left: 200px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

form input[name="description"] {
    width: 400px;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.title-label {
    text-align: left;
    display: inline-block;
    width: 400px;
    height: 30px;
}

form select,
form input[name="title"],
form input[name="link"] {
    width: 400px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form input[type="submit"]:hover {
    background-color: slategray;

}

form input[type="hidden"] {
    display: none;
}

table a {
    margin-top: 10px;
}

#test {
}

a.create {
    display: block;
    width: 50px;
    margin-top: 100px;
    margin-left: 0px;
    text-decoration: none;
    text-align: center;
    color: red;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: darkslategrey;

}
